---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const allArticles = await getCollection('articles');
---

<Layout>
  <ul>
    {
      allArticles.map((articleEntry) => (
        <li>
          <a href={`/articles/${articleEntry.id}`}>{articleEntry.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
