---
import { css } from '../../styled-system/css';
import { SITE_TITLE } from '../consts';
import Logo from '../assets/images/logo.svg';
---

<header
  class={css({
    color: 'gray.700',
    backgroundColor: 'white',
    width: 'stretch',
    paddingX: 'calc(var(--spacing-unit) * 4)',
    paddingY: 'calc(var(--spacing-unit) * 4)',
    md: {
      paddingX: 'calc(var(--spacing-unit) * 8)',
      paddingY: 'calc(var(--spacing-unit) * 6)'
    },
    borderRadius: '12'
  })}
>
  <div
    class={css({
      display: 'flex',
      alignItems: 'center',
      gap: 'calc(var(--spacing-unit) * 4)'
    })}
  >
    <div
      class={css({
        width: 'calc(var(--spacing-unit) * 10)',
        md: {
          width: 'calc(var(--spacing-unit) * 16)'
        }
      })}
    >
      <Logo />
    </div>
    <span
      class={css({
        fontSize: '24',
        fontWeight: '700',
        lineHeight: '150',
        letterSpacing: '0.04em'
      })}
    >
      {SITE_TITLE}
    </span>
  </div>
</header>
