---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { css } from '../../../styled-system/css';
import type { GetStaticPathsOptions } from 'astro';
import ArticleCard from '../../components/ArticleCard.astro';
import Pagination from '../../components/Pagination.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allArticles = await getCollection('articles');
  const sortedArticles = allArticles.sort((articleA, articleB) => {
    return articleB.data.publishedDate.getTime() - articleA.data.publishedDate.getTime();
  });

  return paginate(sortedArticles, { pageSize: 6 });
}

const { page } = Astro.props;
---

<Layout title="記事一覧">
  <article
    class={css({
      display: 'grid',
      gap: 'calc(var(--spacing-unit) * 6)',
      md: { gap: 'calc(var(--spacing-unit) * 10)' }
    })}
  >
    <header
      class={css({
        display: 'grid',
        gap: 'calc(var(--spacing-unit) * 2)',
        backgroundColor: 'white',
        borderRadius: '12',
        borderWidth: '1px',
        borderStyle: 'solid',
        borderColor: 'gray.200',
        padding: 'calc(var(--spacing-unit) * 5)'
      })}
    >
      <h1
        class={css({
          color: 'gray.900',
          fontSize: '24',
          fontWeight: '700',
          lineHeight: '150',
          letterSpacing: '0.04em'
        })}
      >
        記事一覧
      </h1>
      <p
        class={css({
          color: 'gray.700',
          fontSize: '16',
          fontWeight: '400',
          lineHeight: '170',
          letterSpacing: '0.025em'
        })}
      >
        全 {page.total} 件の記事を新しい順に表示しています。
      </p>
    </header>

    <ul
      class={css({
        display: 'grid',
        gap: 'calc(var(--spacing-unit) * 5)'
      })}
    >
      {
        page.data.map((article) => (
          <li>
            <ArticleCard article={article} />
          </li>
        ))
      }
    </ul>

    <footer
      class={css({
        backgroundColor: 'white',
        borderRadius: '12',
        borderWidth: '1px',
        borderStyle: 'solid',
        borderColor: 'gray.200',
        padding: 'calc(var(--spacing-unit) * 4)'
      })}
    >
      <Pagination
        currentPage={page.currentPage}
        totalPages={page.lastPage}
        baseUrl="/page"
      />
    </footer>
  </article>
</Layout>
