---
import BaseHead from '../components/BaseHead.astro';
import { Header } from './header';
import { Footer } from './Footer';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { css } from '../../styled-system/css';

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html
  lang="ja"
  dir="ltr"
>
  <head>
    <BaseHead
      title={title}
      description={description}
    />
  </head>
  <body>
    <div
      class={css({
        display: 'flex',
        flexDirection: 'column',
        gap: 'calc(var(--spacing-unit) * 4)',
        md: {
          gap: 'calc(var(--spacing-unit) * 8)'
        },
        lg: {
          flexDirection: 'row',
          justifyContent: 'center',
          alignItems: 'start'
        }
      })}
    >
      <Header client:only="solid-js" />

      <main
        id="main"
        class={css({
          display: 'flex',
          flexDirection: 'column',
          width: '100%',
          lg: {
            maxWidth: '50',
            minHeight: '100%'
          }
        })}
      >
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
